$black: #111111;

$breakpoints: (
  default: unquote('only all'),
  xxl: unquote('screen and (min-width: #{rem(2000px)})'),
  xl: unquote('screen and (max-width: #{rem(1500px)})'),
  lg: unquote('screen and (max-width: #{rem(1280px)})'),
  sh: unquote('screen and (max-height: #{rem(767px)})'),
  md: unquote('screen and (max-width: #{rem(1023px)})'),
  sm: unquote('screen and (max-width: #{rem(767px)})')
);

$zindex: (
  below: -1,
  default: 1
);
